*{
    margin: 0;
    padding: 0;
}

body{
    background: #cbcbcb;
}

.contacto{
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
}

.contacto .titulo{
    color: #003855;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.contacto .formulario input[type="text"],
.contacto .formulario input[type="email"],
.contacto .formulario textarea{
    padding: 15px;
    border: 1px solid black;
    font-family: 'Open Sans', sans-serif;
    
}

.contacto .formulario textarea{
    height: 150px;
    min-height: 150px;
    max-height: 250px;
}

.contacto .formulario .boton{
    background: #3da5e2;
    border: none;
    padding: 7px 30px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    width: auto;
    border-radius: 3px;
}

.contacto .formulario .boton:hover{
    background: #1ba0ef;
}